{% extends 'admin/base.html' %}

{% block title %}Modify {{ data.post.title }}{% endblock %}

{% block page_content %}
<h1>{{ data.post.title }}</h1>
<form action="{{ url_for('admin.modify_post', post_id=data.post.id)}}" method="POST">
	{{ data.form.hidden_tag() }}
	{% with messages = get_flashed_messages(True) %}
			{% if messages %}
			<div class="row">
				{% for message in messages %}
						<div class="card {{ message[0] }}">
							<div class="section">
								<p>{{ message[1] }}</p>
							</div>
						</div>
				{% endfor %}
			</div>
			{% endif %}
	{% endwith %}
	Title: {{ data.form.title }}<br>
	Slug: {{ data.form.slug }}<br>
	Summery: {{ data.form.summery }}<br>
	Content: {{ data.form.content }}<br>
    Categories: {{ data.form.categories }}<br>
	<input type="submit" value="Save"> 
</form>
{% endblock %}
